
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@</br>
<input type="button" value="Create Category" id="CreateCategory"/>
<div id="dialog">
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Category</h4>
            </div>
            <div class="modal-body" id="myModalContent">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />*@

<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "/category/GetAllCategories",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#dialog').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>

<script type="text/javascript">
    var ajaxCallURL = '/Category/CreateOrEdit';
    $(function () {
        $("#CreateCategory").click(function () {
            var options = {  
                "backdrop": "static",  
                keyboard: true  
            }; 
            debugger;
            $.ajax({
                type: "POST",
                url: '/category/CreateOrEdit',
                //contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            debugger;
            $('#myModal').modal('hide');
        });
    });
</script>


@*<script type="text/jscript">
        $('#partialView').load('/shared/PartialViewExample’);
    </script>

    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
                $(function () {
                $("#categoryList").dataTable();
            })
    </script>*@